.App {
  text-align: center;
}

.container{
  display: flex;
  flex-direction:column;
  background-color: #495E57;
}
.innerContainer{
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: auto;
}

.header{
  background-color: #ffffff;
}
.headerInner{
  display: flex;
  flex-direction: row;
  padding: 10px;
  max-width: 900px;
  margin: auto;
}
.headerNav{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.headerNav li a{
  text-decoration: none;
  color:black;
  margin: 1.5em;
}
.navLogo{
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero{
  display:flex;
  color: #ffffff;
  padding: 10px;
  width: 100%;
}
.heroText{
  flex-direction: column;
  padding: 0px 15px;
}
.heroText h1{
  color: #F4CE14;
  font-size: 2em;
}
.heroImg {
  max-height: 300px;
  margin: 10px;
  border-radius: 16px;
}
.button{
  background-color: #F4CE14;
  border-radius: 16px;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-style: none;
}

.bookingPage{
  display:flex;
  flex-direction: row;
  align-content: space-evenly;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 10px auto;
  padding: 10px;
  max-width: 880px;
}
.formSection{
  flex-direction:column;
  margin: 10px;
}
.pageImg {
  max-height: 300px;
  margin: 10px;
  border-radius: 16px;
}

.footer{
  display: flex;
  padding: 10px;
  width: 100%;
}
.footNav{
  list-style: none;
  color: #ffffff;
  font-size: .75em;
}
.footNav li a{
  color: #ffffff;
}
.footLogo{
  max-height: 150px;
  margin: 10px;
}
