.App {
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
}
.headerNav{
  display: flex;
  flex-direction: row;
  list-style: none;
  color:darkmagenta;
}

.container {
  display: flex;
  flex-direction: column;
}

.hero{
  display:flex;
  background-color: #FBDABB;
}
.heroText{
  flex-direction: column;
}
.heroImg {
  width: 30%;
}

.footer{
  display: flex;
  background-color: #495E57;
}
.footNav{
  list-style: none;
  color:black;
  font-size: .75em;
}
.footLogo{
  width: 25%;
}
